body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 170vh; /* Tela cheia */
    overflow: hidden;
}

header .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

header h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 3em;
    color: #e63946;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    line-height: 100vh; /* Centraliza o texto verticalmente */
}

nav {
    background: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #e63946;
}

footer {
    background: #222;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
